# Values for PROD environment
base-service:
  replicaCount: 3
  autoscaling:
    enabled: true
    minReplicas: 3
    maxReplicas: 20
  ingress:
    hosts:
      - host: api.example.com
        paths:
          - path: /
            pathType: Prefix
